<footer class="footer">
    © 2019 Lexa - <span class="d-none d-sm-inline-block"> Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>
</footer>
<script src="<%= header.hostname%>/public/assets/js/jquery.min.js"></script>
<script src="<%= header.hostname%>/public/assets/js/bootstrap.bundle.min.js"></script>
<script src="<%= header.hostname%>/public/assets/js/metisMenu.min.js"></script>
<script src="<%= header.hostname%>/public/assets/js/jquery.slimscroll.js"></script>
<script src="<%= header.hostname%>/public/assets/js/waves.min.js"></script>
<script src="<%= header.hostname%>/public/assets/js/jquery.sparkline.min.js"></script>
<!--Morris Chart-->
<script src="<%= header.hostname%>/public/assets/js/morris.min.js"></script>
<script src="<%= header.hostname%>/public/assets/js/raphael-min.js"></script>
<!-- App js -->
<script src="<%= header.hostname%>/public/assets/js/app.js"></script>
